*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

::-webkit-scrollbar {
    width: 10px;
    height: 6px;
  }
  
::-webkit-scrollbar-thumb {
    background-color: grey;
    border-radius: 100vw;
}
  