body {
  background-image: url("../images/background-img.jpg");
  background-size: 100% 100vh;
  background-repeat: repeat-y; }

.all-interview-container .table {
  position: absolute;
  top: 250px;
  left: 70px;
  width: 1200px; }
  .all-interview-container .table th {
    font-size: 18px; }
  .all-interview-container .table td {
    font-size: 18px; }
    .all-interview-container .table td .schedule-interview-btn {
      position: relative;
      left: 5px; }
  .all-interview-container .table tr, .all-interview-container .table td {
    text-align: center; }

.all-interview-container .add-interview-btn {
  position: relative;
  left: 1100px;
  top: 140px;
  background-color: orangered;
  border: none;
  color: white; }

.all-interview-container .add-interview-btn:hover {
  background-color: green; }
