body {
  background-image: url("../images/background-img.jpg");
  background-size: 100% 100vh;
  background-repeat: repeat-y; }

.edit-student-details-container {
  position: absolute;
  display: inline-block; }
  .edit-student-details-container h1 {
    display: inline-block;
    position: relative;
    left: 540px;
    top: 180px; }
  .edit-student-details-container form {
    position: relative;
    top: 225px;
    left: 450px;
    display: flex;
    max-width: 500px;
    flex-wrap: wrap; }
    .edit-student-details-container form .input-container {
      display: inline-block;
      width: 400px; }
      .edit-student-details-container form .input-container label {
        font-size: 20px;
        margin-bottom: 10px; }
      .edit-student-details-container form .input-container button {
        margin-top: 20px; }

#layout-footer {
  margin-top: 40vh; }
