#layout-footer {
  color: white;
  height: 150px;
  width: 100%;
  background: linear-gradient(90deg, orange, yellow);
  padding: 5px 10px;
  display: flex;
  justify-content: flex-start;
  position: absolute;
  top: 200vh; }
  #layout-footer a {
    color: white;
    font-size: 20px;
    text-decoration: none; }
  #layout-footer a:hover {
    color: green; }
  #layout-footer .footer-nav ul {
    list-style: none; }
