* {
  margin: 0;
  padding: 0; }

body {
  background-image: url("../images/background-img.jpg");
  background-size: 100% 100vh;
  background-repeat: repeat-y; }

.home-container {
  position: absolute;
  top: 170px;
  left: 65px;
  width: 100%;
  height: 650px;
  width: 90vw; }
  .home-container h1 {
    font-weight: bold;
    color: crimson; }
  .home-container h1:hover {
    color: orange; }
  .home-container #carouselExampleIndicators {
    position: relative;
    top: 30px; }
    .home-container #carouselExampleIndicators img {
      border-radius: 20px;
      height: 700px; }
